<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link rel="stylesheet" href="./styleLogin.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>

<div class="login-page">
    <div class="form">
<!--        <form class="register-form">-->
<!--            <input type="text" placeholder="name"/>-->
<!--            <input type="password" placeholder="password"/>-->
<!--            <input type="text" placeholder="email address"/>-->
<!--            <button>create</button>-->
<!--            <p class="message">Already registered? <a href="#">Sign In</a></p>-->
<!--        </form>-->
        <form class="login-form" th:action="@{/login}" th:object="${userLogin}" method="post">
            <input type="text" th:field="*{email}" id="email" name="email" autofocus="autofocus" placeholder="email"/>
            <input type="password" th:field="*{password}" id="password" name="password" placeholder="password"/>
            <button>Войти</button>
            <p class="message">Нет учетной записи? <a href="/registration">Создать аккаунт</a></p>
        </form>
    </div>
</div>
<script src="js/js.js"></script>
</body>
